.photos-gallery {
  padding: 0rem 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  height: 275px;
  width: 634px;
}

.photos-gallery-header {
  border-bottom: 1px solid #e1e1e1;
  color: #333;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;
  line-height: 32px;
  margin: 0 0 16px;
  padding-bottom: 16px;
}

.photos-gallery-header-subtext {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: auto 0 0 0;
  color: #DA3743;
  cursor: pointer;
  text-decoration: none;
}

.photos-gallery .photos-gallery-morePhotos {
  position: absolute; top: 1px;
  padding: 0rem 1rem;
  margin-left: 33.8rem;
  margin-right: auto;
  margin-top: 16.7rem;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}

.photos-gallery-content {
  display: grid;
  grid-template-columns: 20% 50% 15% 15%;
  grid-column-gap: 0;
  grid-row-gap: 0;
  height: 200px;
  cursor: pointer;

}   

.photos-gallery-content .item {
  border-top: 1px solid white;
  border-right: 1px solid white;
  box-shadow: inset 0 0 0 1px #000;
  overflow: hidden;

}

.photos-gallery-content .item-0 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;

}

.photos-gallery-content .item-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: span 2;
}

.photos-gallery-content .item-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}
    
/*.photos-gallery-content .item-8 {
  opacity: 0.6;
}
*/
.photo,
.photo img {
  height: 100%;
}
    
.photo img {
  width: 100%;
  object-fit: cover;
}


.large-image-modal {
  background-color: rgba(0,0,0,0.92);
  cursor: pointer;
  opacity: 0;
  position: fixed; top: 0; left: 0;
  transition: 0.4s opacity ease-in-out;
  visibility: hidden;
  width: 0; height: 0;
}
.large-image-modal.modal-opacity,
.large-image-modal.modal-on {
  bottom: 0; right: 0;
  padding: 15px;
  visibility: visible;
  width: auto; height: auto;
}
.large-image-modal.modal-opacity {
  opacity: 1;
}
.large-image-modal.modal-on {
  transition: 0s all ease 0.4s,
    0.4s opacity ease-in-out 0s;
}
.modal-content {
  /*background-color: white;*/
  /*box-shadow: 0 1px 4px rgba(0,0,0,0.5);*/
  box-sizing: border-box;
  color: #333;
  cursor: default;
  margin: 0 auto;
  max-width: 640px;
  height: 640px;
  overflow-y: scroll;
  padding: 24px;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 24px);
  border: 0;
}

.image-slide {
  width: 550px;
  height: 550px;
  margin: 0 auto;
}

.image-slide img {
  width: 550px;
  height: 550px;
}

body.carousel-overflow-hidden {
  overflow: hidden;
}

.slide-arrow-left {
  left: 0;
}

.slide-arrow-right {
  right: 0;
}

.slide-arrow-right, 
.slide-arrow-left {
  color: #999;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.close {
  font-family: icons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "U";
  color: white;
  font-size: 1.2rem;
  line-height: 2;
  position: absolute; left: 96.5%;
  text-align: center;
  top: 1rem;
  right: 1rem;
  width: 2rem;
}

.flag {
  font-size: 2rem;
  position: absolute; left: 90%;
  color: white;
}

.problem-modal {
  /*background-color: rgba(0,0,0,0.92);*/
  cursor: pointer;
  opacity: 0;
  position: fixed; top: 0; left: 0;
  transition: 0.4s opacity ease-in-out;
  visibility: hidden;
  width: 0; height: 0;
}
.problem-modal.modal-opacity,
.problem-modal.modal-on {
  bottom: 0; right: 0;
  padding: 15px;
  visibility: visible;
  width: auto; height: auto;
}
.problem-modal.modal-opacity {
  opacity: 1;
}
.probelm-modal.modal-on {
  transition: 0s all ease 0.4s,
    0.4s opacity ease-in-out 0s;
}

.problem-modal-content {
  background-color: white;
  /*box-shadow: 0 1px 4px rgba(0,0,0,0.5);*/
  box-sizing: border-box;
  color: #333;
  cursor: default;
  margin: 0 auto;
  max-width: 450px;
  height: 280px;
  overflow-y: scroll;
  padding: 24px;
  position: absolute; top: 60%; left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 24px);
  border: 0;
}

body.problem-overflow-hidden {
  overflow: hidden;
}

.btn-photos-report, .btn-photos-cancel {
  display: block;
  width: 90%;
  margin: 5px auto;
  padding: .6rem 1.75rem;
  text-align: center;
  border-radius: 3px;
  font-size: 1rem;
}

.btn-photos-report {
  background-color: #60b2d0;
  border-color: #3798bc;
  color: #fff;
  border-width: 0;
}
.btn-photos-cancel {
  background-color: #fff;
  border-color: #3798bc;
  color: #3798bc;
  border-width: .05rem;
}



